{
  "development": {
    "user": "postgres",
    "password": null,
    "database": "ceap_development",
    "host": "127.0.0.1"
  },
  "test": {
    "user": "postgres",
    "password": null,
    "database": "ceap_test",
    "host": "127.0.0.1"
  },
  "production": {
    "user": "postgres",
    "password": null,
    "database": "ceap_production",
    "host": "127.0.0.1"
  }
}
